.contact {
  background-color: $dark-green;
  margin-top: 120px;

  &__title {
    color: $light-orange;
    text-align: center;
  }

  &__description {
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 2em 10em;
  }

  &__box {
    background-image: url("../images/contact-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4em;
    padding-bottom: 4em;
  }

  &__icons {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    font-size: 1.2em;
    margin: 0 auto;
    text-align: center;
    padding: 2em;
    min-width: 500px;

    i {
      color: $dark-orange;
      font-size: 2em;
      font-weight: 900;
    }
  }

  &__info {
      display: none;
  }


  &__form {
    border: 5px solid $dark-green;
    color: $dark-green;
    padding: 2em;
    width: 80%;
    text-align: left;
    margin: 0 auto;

    input {
      width: 100%;
      margin-bottom: 2em;
    }

    a {
      @extend .carousel-caption__button;
      margin: 2em;

    }
  }
  }

@media (min-width: 992px) {
.contact {

  &__info {
      display: block;
  }
}
}
