
.main {

  &__articles {
    display: flex;
    justify-content: center;
  }

  &__article_1 {
  @extend %article;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background-image: radial-gradient(ellipse farthest-corner at 65% 35% , #ffffff 0%, #baeb5f 40%, #2c4007 65%);
  background-size: 300% 300%;
  animation: colors 3s linear infinite;
  }

  &__article_2 {
  @extend .main__article_1;
  animation-delay: 1s;
  }

  &__article_3 {
  @extend .main__article_1;
  animation-delay: 2s;
}
}

@keyframes colors {
    0%{background-position:20% 20%}
    6%{background-position: 30% 15%}
    12%{background-position:50% 10%}
    25%{background-position:80% 20%}
    37%{background-position:90% 50%}
    50%{background-position:80% 80%}
    62%{background-position:50% 90%}
    75%{background-position:20% 80%}
    87%{background-position:10% 50%}
    93%{background-position: 15% 30%}
    100%{background-position:20% 20%}
}


.article {

  &__icon {
    padding: 1em;

    svg {
      padding: .8em;
    }
  }

  &__img {
    padding: .5em;
    width: 35%;


    img {
      width: 100%;
    }
  }

  &__text {
    width: 60%;
    padding: 1em;

    &_center {
      @extend .article__text;
      text-align: center;
    }

    p {
      color: $dark-green;
    }
  }
}

.news {
  padding: 2em;
  background-color: $palid-green;
  text-align: center;

  h2 {
    color: $dark-green;
    font-weight: bold;
  }

  &__post {
    margin-top: 2em;
    border: 5px solid white;
    text-align: center;
    background-color: $dark-green;
  }

  &__img {
    padding: 1em;
    margin: 0 auto;
    width: 80%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 1em;
    width: 90%;
  }

  &__title {
    color: $dark-orange;
  }

  &__subtitle {
    color: $palid-green;
  }

  &__description {
    color: white;
    font-style: italic;
  }

  &__button {
    @extend .carousel-caption__button;
    }
}

.icons {
  display: flex;
  justify-content: center;

  i {
    font-size: 3em;
    color: $dark-orange;
    margin: 1em;
  }
}

@media (min-width: 992px) {
.main {
    &__article_1 {
    width: 350px;
    height: 350px;
    }

    &__article_2 {
      width: 350px;
      height: 350px;
    }

    &__article_3 {
      width: 350px;
      height: 350px;
  }
}

.article {

  &__icon {
    width: 35%;
    padding: 1em;
  }

  &__img {
    padding: 1em;
    width: 45%;

    img {
      width: 100%;
    }
  }
}

.news {


  &__post {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: $dark-green;
  }

  &__img {
    padding: 1em;
    width: 30%;
  }

  &__text {
    width: 60%;
  }
}
}
