.main {

  &__articles {
    display: flex;
    justify-content: center;
  }

  &__article {
  @extend %article;
  border-radius: 100%;
  width: 350px;
  height: 350px;

  &:hover {
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 1%, rgba(186,235,95,1) 100%);
  }
}
}

.article {

  &__icon {
    width: 35%;
    padding: 1em;
  }

  &__img {
    padding: 1em;
    width: 45%;

    img {
      width: 100%;
    }
  }

  &__text {
    width: 60%;
    padding: 1em;

    &_center {
      @extend .article__text;
      text-align: center;
    }

    p {
      color: $dark-green;
    }
  }
}

.news {
  padding: 2em;
  background-color: $palid-green;
  text-align: center;

  h2 {
    color: $dark-green;
    font-weight: bold;
  }

  &__post {
    margin-top: 2em;
    border: 5px solid white;
    text-align: center;
    background-color: $dark-green;
  }

  &__img {
    padding: 1em;
    margin: 0 auto;
    width: 80%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__text {
    padding: 1em;
    width: 90%;
  }

  &__title {
    color: $dark-orange;
  }

  &__subtitle {
    color: $palid-green;
  }

  &__description {
    color: white;
    font-style: italic;
  }

  &__button {
    @extend .carousel-caption__button;
    }
}

.icons {
  display: flex;
  justify-content: center;

  i {
    font-size: 3em;
    color: $dark-orange;
    margin: 1em;
  }
}

@media (min-width: 992px) {
.news {
  &__post {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: $dark-green;
  }

  &__img {
    padding: 1em;
    width: 30%;
  }

  &__text {
    width: 60%;
  }
}
}
